{% extends 'tracker/base.html' %}
{% block content %}
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="first_name" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="last_name" placeholder="Last name">
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="password" class="form-control" name="password1" placeholder="Password" required>
      </div>
      <div class="col">
        <input type="password" class="form-control" name="password2" placeholder="Repeat Password" required>
      </div>
    </div>
    <button type="submit" name="submitSignUp" class="btn btn-primary w-100 mt-3">Sign Up</button>
  </form>
  <div class="text-center mt-3">
    Do you already have an account? <a href="{% url 'logInUser' %}">Login here</a>
  </div>
{% endblock %}
